
meta(lang="ja")
meta(charset="UTF-8")
title mix-blend-mode-demo
link(rel="icon" type="image/png", href="./favicon.png")

body
	header
		.header.changeBackground
			h1 mix-blend-demo
	section.mainView
		.result.changeBackground
			.table
				.examplelabel mix-blend-mode:
				.exampleval blended result
				.label normal
				.val.normal 
				.label multiply
				.val.multiply 
				.label screen
				.val.screen 
				.label overlay
				.val.overlay 
				.label darken
				.val.darken 
				.label lighten
				.val.lighten 
				.label color-dodge
				.val.color-dodge 
				.label color-burn
				.val.color-burn 
				.label hard-light
				.val.hard-light 
				.label soft-light
				.val.soft-light 
				.label difference
				.val.difference 
				.label exclusion
				.val.exclusion 
				.label hue
				.val.hue 
				.label saturation
				.val.saturation 
				.label color
				.val.color 
				.label luminosity
				.val.luminosity 
		.controllers
			.itemController
				p ▼上に乗るものの色を選択 / pick item-color
				div.item-picker
			.bgController
				p ▼背景の色を選択 / pick background-color
				div.bg-picker

	section.kansya
		h2 参考にさせていただいたもの / special respect
				
		a.button(href="https://simonwep.github.io/pickr/") https://simonwep.github.io/pickr/

		a.button(href="https://github.com/Simonwep/pickr") https://github.com/Simonwep/pickr
	
	section
		h2 repository
		a.button(href="https://github.com/ryu-g/css-mixBlendModeDemo") https://github.com/ryu-g/css-mixBlendModeDemo
script(src="./script/main.js")
