
meta(lang="ja")
meta(charset="UTF-8")
title mix-blend-mode-demo
link(rel="icon" type="image/png", href="./favicon.png")
meta(name="viewport" content="width=device-width,initial-scale=1")
body.changeBackground
	header
		.header.changeBackground
			h1 mix-blend-demo
	section.mainView
		.result.changeBackground
			.table
				.examplelabel mix-blend-mode:
				.exampleval blended result
				.label normal
				.val.normal 
				.label multiply
				.val.multiply 
				.label screen
				.val.screen 
				.label overlay
				.val.overlay 
				.label darken
				.val.darken 
				.label lighten
				.val.lighten 
				.label color-dodge
				.val.color-dodge 
				.label color-burn
				.val.color-burn 
				.label hard-light
				.val.hard-light 
				.label soft-light
				.val.soft-light 
				.label difference
				.val.difference 
				.label exclusion
				.val.exclusion 
				.label hue
				.val.hue 
				.label saturation
				.val.saturation 
				.label color
				.val.color 
				.label luminosity
				.val.luminosity 
		.controllers
			.itemController
				p ▼上に乗るものの色を選択 / pick item-color
				div.item-picker
			.bgController
				p ▼背景の色を選択 / pick background-color
				div.bg-picker

	section.description
		h2 このページは何？
		p cssのmix-blend-modeの全プロパティを背景色・コンテンツ色に一括で指定して結果を確認できるページです。
		p カラーピッカーを動かして背景色・コンテンツ色を変更してみて、どの色にどの効果を乗せたらほしい結果になるのか試してみてください。

		p ※pcからの閲覧を推奨します
		p ※操作によっては眼球に強い負担がかかる可能性があります。気分を悪くした場合は速やかに閲覧・利用を中止してください。

	section.kansya
		h2 参考にさせていただいたもの / special respect
				
		a.button(href="https://simonwep.github.io/pickr/" target='brank') https://simonwep.github.io/pickr/

		a.button(href="https://github.com/Simonwep/pickr" target='brank') https://github.com/Simonwep/pickr
	
	section
		h2 repository
		a.button(href="https://github.com/ryu-g/css-mixBlendModeDemo" target='brank') https://github.com/ryu-g/css-mixBlendModeDemo
script(src="./script/main.js")
