
meta(lang="ja")
meta(charset="UTF-8")
title mix-blend-mode-demo
link(rel="icon" type="image/png", href="./favicon.png")


body
	section.topView
		h1 mix-blend-mode demoo
	section.mainView
		.result#background
			.table
				.examplelabel mix-blend-mode:
				.exampleval result
				.label.normal normal
				.val text
				.label.multiply multiply
				.val text
				.label.screen screen
				.val text
				.label.overlay overlay
				.val text
				.label.darken darken
				.val text
				.label.lighten lighten
				.val text
				.label.color-dodge color-dodge
				.val text
				.label.color-burn color-burn
				.val text
				.label.hard-light hard-light
				.val text
				.label.soft-light soft-light
				.val text
				.label.difference difference
				.val text
				.label.exclusion exclusion
				.val text
				.label.hue hue
				.val text
				.label.saturation saturation
				.val text
				.label.color color
				.val text
				.label.luminosity luminosity
				.val text
		.controllers
			.bgController
				p 背景の色を選択 / pick background-color
				div.bg-picker

			.itemController
				p 上に乗るものの色を選択 / pick item-color
				div.item-picker



script(src="./script/main.js")
